.banner {
    position: relative;
    height: 530px;
}

.banner img {
    width: 100%;
    /* Começa invisível, exceto o ativo */
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 1s ease;
    z-index: 0;
}

/* Banner ativo aparece com fade */
.banner img.active {
    opacity: 1;
    z-index: 1;
}


@media screen and (max-width: 1140px) {
    .banner {
        height: 430px;
    }
}

@media screen and (max-width: 769px) {
    .banner {
        height: 300px;
    }
}

@media screen and (max-width: 500px) {
    .banner {
        height: 200px;
    }
}

