footer {
    padding: 80px 125px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
}

footer .top {
    display: flex;
    gap: 80px;

    width: 100%;
}

footer .top .logo a img {
    width: 80px;
}

footer .top .infos-footer {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

footer .top .infos-footer .info-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .top .infos-footer .info-footer a {
    color: var(--color-blue);
}


footer .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 30px;
}

footer .bottom a {
    color: var(--color-blue);
}

@media screen and (max-width: 884px) {
    footer {
        padding-inline: 60px;
    }

    footer .top {
        gap: 40px;
    }
}